# Database & Admin Credentials (Keep these secret)
POSTGRES_PASSWORD="CHANGE_ME"
KONG_PG_PASSWORD="CHANGE_ME"
KC_DB_PASSWORD="CHANGE_ME"
KEYCLOAK_ADMIN="admin"
KEYCLOAK_ADMIN_PASSWORD="CHANGE_ME"
GF_DATABASE_PASSWORD="CHANGE_ME"

# Deployment Defaults
DATA_ROOT="/home/xflow/data"
BYPASS_MOUNT_CHECK="true"
